@model Application.Responses.PagedResponse<Application.DTO.ShowLocaleDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th>
                Mobile
            </th>
            <th>
                Email Info
            </th>
            <th>
                Facebook
            </th>
            <th>
                Instagram
            </th>
            <th>
                GoogleLocation
            </th>
            <th>
                Locale Type
            </th>
            <th>
                City
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailInfo)
            </td>
            <td>
                <a href="@item.Facebook">Facebook</a>
            </td>
            <td>
                <a href="@item.Instagram">Instagram</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoogleLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocaleTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
